<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>833813518441-a2at32tvjglptmm9756u1irk6584o01i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833813518441-a2at32tvjglptmm9756u1irk6584o01i</string>
	<key>API_KEY</key>
	<string>AIzaSyAtPCSF_umluOYCLn8Gg5SSZxMbKA8DPNE</string>
	<key>GCM_SENDER_ID</key>
	<string>833813518441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.crazyNexus.How2Go</string>
	<key>PROJECT_ID</key>
	<string>how2go-106f7</string>
	<key>STORAGE_BUCKET</key>
	<string>how2go-106f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:833813518441:ios:7e75e107222a5c35</string>
	<key>DATABASE_URL</key>
	<string>https://how2go-106f7.firebaseio.com</string>
</dict>
</plist>